<div class="container">

    <div class="bg-body p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            <strong>About Us</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="./assets/images/slide-2.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <p>TechBotz designs and runs a programme and events/workshops through out the year worldwide. From investor and corporate engagement, to schools and students, we provide technical support tailored to your needs. Our members consists of Freelancers
                    grouped together under a single banner.</p>
            </div>
        </div>
    </div>

    <div class="bg-body p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            <strong>MEET OUR FOUNDERS</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-4">
                <div class="card h-100">
                    <img class="card-img-top" src="./assets/images/hr.png" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">NEHA</h4>
                        <h5><small class="text-muted">HR Lead</small></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-4">
                <div class="card h-100">
                    <img class="card-img-top" src="./assets/images/robo1.png" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">Abhishek</h4>
                        <h5><small class="text-muted">Robotics Lead</small></h5>
                        <h6> <small class="text-muted">Freelancer</small></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-4">
                <div class="card h-100">
                    <img class="card-img-top" src="./assets/images/robo2.png" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">Abhishek</h4>
                        <h5><small class="text-muted">Robotics Lead</small></h5>
                        <h6> <small class="text-muted">Freelancer</small></h6>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-4 mb-4 mb-md-4">
                <div class="card h-100">
                    <img class="card-img-top" src="./assets/images/cs2.png" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">Eli <cite><small>(name changed)</small></cite></h4>
                        <h5> <small class="text-muted">UI/UX Developer, Technical Lead</small></h5>
                        <h6> <small class="text-muted">Freelancer</small></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-4">
                <div class="card h-100">
                    <img class="card-img-top" src="./assets/images/cs1.png" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">Kris <cite><small>(name changed)</small></cite></h4>
                        <h5> <small class="text-muted">Java Developer, Technical Lead</small></h5>
                        <h6> <small class="text-muted">Freelancer</small></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->