<div class="col-12 section-content mt-5 bg-faded">
    <h5 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s " data-wow-duration="2s ">&nbsp;&nbsp;&nbsp; Call Us At &nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="text-white">Mobile:</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="phone-contact "> +91 98712 85316</span></h5>
</div>
<form id="contact" action="/send-email" method="POST" [formGroup]="submitform" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row form-group">
            <div class="alert alert-success" *ngIf="show">
                <strong>Success!</strong>Message successfully sent. We will Contact you soon.
            </div>
            <div class="section-content col-md-12 bg-faded">
                <h4 class="section-header">Or Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h4>
            </div>
            <div class="col-6 form-line">
                <div class="form-group">
                    <label for="exampleInputUsername">Your name</label>
                    <input type="text" class="form-control" formControlName="name" id="" placeholder=" Enter Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">Email Address</label>
                    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail" placeholder=" Enter Email id">
                </div>
                <div class="form-group">
                    <label for="telephone">Mobile No.</label>
                    <input type="tel" class="form-control" formControlName="mobile" id="telephone" placeholder=" Enter 10-digit mobile no.">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="description"> Message</label>
                    <textarea class="form-control" formControlName="message" id="description" placeholder="Enter Your Message"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-default submit" [disabled]="!submitform.valid"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                </div>
            </div>
        </div>
    </div>
</form>