<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-purple-dark fixed-top navbar-border" [ngClass]="{'page-scroll-header': isScrolled}">
    <div class=" container ">
        <a class="navbar-brand " href="# ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col ">
                        <img class="logo animated zoomIn d-none d-lg-block " src="./assets/images/logo.png " width=" " height=" " alt=" ">
                    </div>
                    <div class="col animated slideInUp">
                        <div class="text-heading text-shadow text-white d-sm-block title-head .d-sm-none .d-md-block">TechBotz Solutions</div>
                        <div class="tagline tag text-shadow text-uppercase text-white d-none d-lg-block .d-sm-none .d-md-block">A Step to Innovation And Excellence</div>
                    </div>
                </div>
            </div>
        </a>
        <button id="navroute" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" data-toggle="collapse" data-target=".navbar-collapse.show">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active px-lg-2 animated slideInUp">
                    <div class="nav-link hvr-grow-shadow" routerLink="/">Home
                        <span class="sr-only">(current)</span>
                    </div>
                </li>
                <li class="nav-item px-lg-2 animated slideInUp hvr-float-shadow">
                    <a class="nav-link hvr-grow-shadow" routerLink="/service" routerLinkActive="active-link">Services</a>
                </li>
                <li class="nav-item px-lg-2 animated slideInUp hvr-float-shadow">
                    <div class="nav-link hvr-grow-shadow" routerLink="/about" routerLinkActive="active-link">About</div>
                </li>
                <li class="nav-item px-lg-2 animated slideInUp hvr-float-shadow ">
                    <a class="nav-link hvr-grow-shadow" routerLink="/gallery" routerLinkActive="active-link">Gallery</a>
                </li>
                <li class="nav-item px-lg-2 animated slideInUp hvr-float-shadow ">
                    <a class="nav-link hvr-grow-shadow" routerLink="/contactUs" routerLinkActive="active-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- <div class="margin-space "></div> -->
<!-- Navigation -->


<div class="margin-space "></div>
<router-outlet (activate)="onActivate($event) "></router-outlet>

<div class="margin-space "></div>

<footer class="page-footer bg-purple-light text-center">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-sm-12 mt-4 ">
                <h5 class="text-green add-border ">Connect</h5>
                <div class="text-white text-center col-sm-12 ">
                    <i class="fas fa-home "></i>&nbsp; Address:&nbsp; 11B Ganesh Nagar Ext. 2,Shakarpur, New Delhi, DL 110092
                </div>
                <div class="col-sm-12 text-center text-white ">
                    <i class="fas fa-phone "></i>&nbsp;&nbsp;Phone: +91 98712 85316 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-sm-12 text-white text-center ">
                    <i class=" fas fa-envelope-square "></i>&nbsp;&nbsp;Email: info@techbotz.in
                </div>
            </div>
        </div>
        <hr class="divider3 mt-1 ">
        <div class="row ">
            <div class="col-sm-6 ">
                <p class="m-0 text-green ">&copy;2018&nbsp; TechBotz.in | All Rights Reserved. </p>
            </div>
            <div class="col-sm-6 mb-2 ">
                <i class="fab fa-facebook fa-2x green mr-4 "></i>
                <i class="fab fa-twitter fa-2x green mr-4 "></i>
                <i class="fab fa-linkedin fa-2x green mr-4 "></i>
                <i class="fab fa-whatsapp fa-2x green "></i>
            </div>
        </div>
    </div>
</footer>