<!--The content below is only a placeholder and can be replaced.-->

<div class="bg-faded py-lg-4">
    <div class="tagline-upper text-center text-heading text-shadow text-white d-none d-lg-block">
        <img src="./assets/images/logo.png" width="" height="" alt="">TechBotz</div>
    <div class="tagline text-center text-expanded text-shadow text-uppercase text-white d-none d-lg-block">Don't Be Good,Be Better | Take Your Projects To Next Level | You Dream It,We Build It </div>
</div>

<div class="margin-space"></div>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <img class="navbar-toggler no-border" src="./assets/images/logo.png" width="90" height="60" alt="">
    <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" routerLink="/" routerLinkActive="active-link">Home</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" routerLink="/about" routerLinkActive="active-link">About</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" routerLink="/gallery" routerLinkActive="active-link">Gallery</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" routerLink="/contactUs" routerLinkActive="active-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="margin-space"></div>
<router-outlet></router-outlet>

<div class="margin-space"></div>

<footer class="bg-faded text-center py-5">
    <div class="container">
        <p class="m-0 text-white">Copyright &copy; TechBotz.in 2018</p>
    </div>
</footer>