<div class="container p-2 my-2">

    <div class="bg-wheatish p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0 text-brown animated fadeIn">
            <strong>Services</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-12 animated fadeIn">
                <p>Our team expertize in diverse fields. We value our customers ideas and demands providing allround analysis and support resulting in quality product outcomes to our customers. We are also a leading Manufacture & Supplier of all Kinds of
                    School and engineering colleges projects/working models for the Students. We know that excellence is easier to sell than expectation. Due to which we offer wide range of Projects/working models as per your requirements. It additionally
                    aims to provide project facilitate, ideas and on-line preparation facilitate to all students. Our standard ensures you to get the best quality at competitive price, followed by our experience. Our reputation rests with our service
                    and quality. As we have wide collection of Projects/working models in almost all subjects and topics, any student can avail the benefit from our services. We also offer working projects, robot game solutions and freelancer training
                    for <b>FLL (First Lego League)</b> and <b>WRO (world robot Olympiad)</b>. These are the international competitions based on lego kits that supports children and youngsters in order to introduce them to science and technology in a sporty
                    atmosphere.
                    <br/>Our clients include:
                </p>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                <a class="btn btn-squared-default-plain btn-primary m-4">
                                    <i class="fa fa-user-secret fa-5x fancyicon pb-2"></i>
                                    <br /><strong>Large</strong>
                                    <br />
                                    <strong>Companies</strong>
                                </a>
                                <a class="btn btn-squared-default-plain btn-success m-4">
                                    <i class="fa fa-user-secret fa-5x fancyicon pb-2"></i>
                                    <br /> <strong>Startups</strong>
                                </a>
                                <a class="btn btn-squared-default-plain btn-info m-4">
                                    <i class="fas fa-user-tie fa-5x fancyicon pb-2"></i>
                                    <br /> <strong>Individuals</strong>
                                </a>
                                <a class="btn btn-squared-default-plain btn-success m-4">
                                    <i class="fas fa-user-graduate fa-5x fancyicon pb-2"></i>
                                    <br /> <strong>Students</strong>
                                </a>
                                <a class="btn btn-squared-default-plain btn-primary m-4">
                                    <i class="fas fa-smile fa-5x fancyicon"></i>
                                    <br /><strong>Schools</strong><br /><strong>and</strong> <br /><strong>Colleges</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="bg-darkblack">
        <hr class="divider2">
        <h2 class="text-center text-lg text-uppercase my-0 text-yellow animated fadeIn">
            <strong>Robotics</strong>
        </h2>
        <hr class="divider2">
    </div>

    <div class="bg-black p-4 my-4 container-fluid">
        <div class="container-fluid">
            <div class="notice notice-success animated slideInUp hvr-overline-from-center">
                <strong>1. Robotics Training -</strong> <br/><br/>Technology, especially Robotics, has impacted almost every aspect of life today. Techbotz offers an inclusive and practical robotics training provided by equips live projects and simulations
                all over India. Our detailed Robotics courses helps students to understand the concepts behind STEM (Science,Technology, Engineering and Mathematics). The trainers at Techbotz are subject specialist corporate professionals providing in-depth
                study in Robotics courses.

            </div>
            <div class="notice notice-danger animated slideInUp hvr-overline-from-center">
                <strong>2. After School Programs -</strong> <br/><br/>Techbotz offers Robotics & Electronics after school activities, where students would be introduced to the world of Robotics & Electronics using state of the Art robotics kits and platform.
                This is done along the relevant programming tools.
            </div>
            <div class="notice notice-info animated slideInUp hvr-overline-from-center">
                <strong>3. Competitions Training -</strong><br/><br/>Techbotz offers specialized training for the students to participate and achieve many awards at different robotics competitions. We offer our consultancy services for schools and individuals
                to guide and train participants for Robotics Competitions.
            </div>
            <div class="notice notice-warning animated slideInUp hvr-overline-from-center">
                <strong>4. Summer and winter Camp -</strong> <br/><br/>These Camps engages and teaches students some of the essentials of science and technology which helps them to interact and learn while having fun providing students a base to Robotics
                and electronics.
            </div>
        </div>
    </div>

    <div class="bg-darkblack">
        <hr class="divider2">
        <h2 class="text-center text-lg text-uppercase my-0 text-yellow animated fadeIn">
            <strong>IT And Software Development & Solutions</strong>
        </h2>
        <hr class="divider2">
    </div>
    <div class="container">
        <!--small cards-->
        <div class="row">
            <div class="col-md-4">
                <div class="card hvr-round-corners hvr-curl-bottom-left mt-2">
                    <div class="card-content">
                        <div class="card-header-blue">
                            <h1 class="card-heading mt-4">Responsive Website Development</h1>
                        </div>
                        <div class="card-body">
                            <p class="card-p">
                                Design responsive websites for various purposes like marketing, portfolio, e-commerce etc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card hvr-round-corners hvr-curl-bottom-left mt-2">
                    <div class="card-content">
                        <div class="card-header-grey">
                            <h1 class="card-heading mt-4">Responsive Web Application Development</h1>
                        </div>
                        <div class="card-body">
                            <p class="card-p">
                                This is an approach to scale and fit the UI of app views to the variety of devices and browsers.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card hvr-round-corners hvr-curl-bottom-left mt-2">
                    <div class="card-content">
                        <div class="card-header-red">
                            <h1 class="card-heading mt-4">Mobile Application Development</h1>
                        </div>
                        <div class="card-body">
                            <p class="card-p">
                                We can provide high quality standard mobile app of any category as per clients demands.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card hvr-round-corners hvr-curl-bottom-left mt-2">
                    <div class="card-content">
                        <div class="card-header-orange">
                            <h1 class="card-heading mt-4">Creative Designing</h1>
                        </div>
                        <div class="card-body">
                            <p class="card-p">
                                We work in areas of marketing and advertising to create various materials, such as product labels or brochures or logos, that provide information about the Company or its offerings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->